body{
    padding: 0;
    margin: 0;
}
h1,h2{
    text-align: center;
}
li {
    list-style-type: none;
  }
  li a {
    color: white;
}
.banner {
    text-align: center;
    background: #9a6267;
    color: white;
}
.banner h1 {
    padding: 16px;
    margin: 0;
}
.container-body {
    width: 800px;
    margin: auto;
    /* background: #dedede; */
    display: flex;
    min-height: 85vh;
}

nav {
    background: #9a6267d1;
    width: 150px;
    flex: 1;
}

nav ul {
    margin: auto;
    padding: 0;
    margin-top: 20px;
    font-size: 18px;
    background: #ffffff2b;
}
/* nav li {
    padding: 10px 5px;
} */
nav a{
    text-decoration: none;
    width: 100%;
    display: block;
    padding-left: 10px;
    box-sizing: border-box;
    padding: 10px 10px;
}
nav a:hover{
    background: rgba(0, 0, 0, 0.103);
}
.container-body main {
    flex: 4;
    position: relative;
}
.container-body main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left:0;
    top: 0;
    background-image: url("../img/mini.png");
    background-size: 34px;
    opacity: 0.05;
    z-index: -1;
}
article p {
    font-style: italic;
    width: 90%;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    background: white;
    box-shadow: 2px 2px 3px;
}
.text-center{
    text-align: center;
}
article {
    margin-bottom: 20px;
}